.title{
    text-align: center;
}
.list{
    display: flex;
    justify-content: space-around;
    width: 100%; 
}
ul li{
    margin: 20px auto;
    list-style: none;
    width: 50%;
    text-align: center;
}
h1{
    font-weight: bold;
    font-size: 50px;
}
.dog-pic{
    
}